html {
    height : 100%;
    width : 100%;
}
body {
    height : 100%;
    width : 100%;
    margin : 0px;
    padding : 0px;
    border : 0px;
    font-family: "Century Gothic", Arial, Helvetica, sans-seriff;
    background: #D4E6F4;
    font-size : 13px;
    line-height: 15px;
}
img {
    border: none;
}
table, tr, td {
    border-collapse : collapse;
    vertical-align : top;
    font-size : 13px;
    line-height: 15px;
}
a {
    color: #8D0D19;
}
a:hover { color: #1A446C}

#header {
    height: 8%;
    margin: 0px;
    padding: 0px;
    text-align: right;
    background: indianred;
    color: white;
    width: 100%;
}
#header h1 {
    padding: 1em;
    margin: 0px;
}
#main {
    margin: 0px;
    padding: 0px;
    height: 86%;
    width: 100%;
    background: #EEE4B9;
}
#structure {
    height: 600px;
    width: 100%;
}
#footer {
    clear: both;
    height: 2%;
    margin: 0px;
    padding: 1.5em;
    text-align: center;
    background: #1A446C;
    color: #D4E6F4;
}

/* Navigation */
#navigation {
    float: left;
    width: 13%;
    height: 100%;
    /*padding: 0 2em;*/
    padding-left: 1em;
    color: #D4E6F4;
    background: #8D0D19;
}
#navigation a {

    color: #D4E6F4;
    text-decoration: none;
}
#navigation a:hover
{
    color: blue;
}

ul.subjects {
    padding-left: 2em;
    list-style: none none;
    background-color: #8D0D19;
    line-height: 40px;
}

ul.pages {
    padding-left: 2em;
    list-style: square;
    line-height: 20px;
    font-weight: normal;
}
.selected {
    font-weight: bold;

}

/* Page Content */
#page {
    float: left;
    height: 100%;
    padding-left: 1%;
    /*padding-left: 2em;*/
    vertical-align: top;
    background: #EEE4B9;
    width: 89%;
}
#page h2 {
    color: #8D0D19;
    margin-top: 1em;
}
#page h3 {
    color: #8D0D19;
}

div.message {
    width: 30%;
    border: 2px solid #8D0D19;
    color: #888888; font-weight: bold;
    margin: 1em 0; padding: 1em;
}

div.errors {
    width: 30%;
    border: 2px solid #8D0D19;
    color: #888888; font-weight: bold;
    margin: 1em ; padding: 1em;
    padding-left: 2em;
}